<div>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #F3F3F3;
        }

        div {
            padding: 5px;
            width: 90%;
            margin: auto;
            font-family: Arial;
            font-weight: bold;
        }

        pre {
            width: 100%;
            padding: 16px 15px 8px;
            background-color: #1c1c1c;
            color: #c1c1c1;
            border-radius: 10px;
            font-size: 14px;
            line-height: 16px;
            font-family: Consolas "monospace";
            overflow: auto;
        }
    </style>
    Update
    <pre>
#update
    </pre>
</div>